{% load static %}
<header id="header"><!--header-->
	<div class="header_top"><!--header_top-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contactinfo">
						<ul class="nav nav-pills">
							<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="social-icons pull-right">
						<ul class="nav navbar-nav">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a href="/"><img src="static/images/drivo.png"   width="80%" alt="" /></a>
					</div>

				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">

						<ul class="navbar-nav ml-auto">
							{% if user.is_authenticated %}
							<li
							{% if 'dashboard' in request.path %}
							class="nav-item active mr-3"
							{% else %}
							class="nav-item mr-3"
							{% endif %}
							>
							<a class="nav-link" href="{% url 'dashboard' %}">
							Welcome {{ user.username }} (Dashboard)</a>
						</li>
						<li class="nav-item mr-3">
							<a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
								<i class="fas fa-sign-out-alt"></i> Logout
							</a>
							<form action="{% url 'logout' %}" method="POST" id="logout">
								{% csrf_token %}
								<input type="hidden">
							</form>
						</li>
						{% else %}
						<li
						{% if 'register' in request.path %}
						class="nav-item active mr-3"
						{% else %}
						class="nav-item mr-3"
						{% endif %}
						>
						<a class="nav-link" href="{% url 'register' %}">
							<i class="fas fa-user-plus"></i> Register</a>
						</li>
						<li
						{% if 'login' in request.path %}
						class="nav-item active mr-3"
						{% else %}
						class="nav-item mr-3"
						{% endif %}
						>
						<a class="nav-link" href="{% url 'login' %}">
							<i class="fas fa-sign-in-alt"></i>

						Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
</div><!--/header-middle-->

<div class="header-bottom"><!--header-bottom-->
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="mainmenu pull-left">
					<ul class="nav navbar-nav collapse navbar-collapse">
						<li><a href="/" class="active">Home</a></li>
												<li><a href="/about/">About</a></li>

						<li class="dropdown"><a href="#">Our Services<i class="fa fa-angle-down"></i></a>
							<ul role="menu" class="sub-menu">
								<li><a href="/Car_Service/">Car Service</a></li>
								<li><a href="/Bike_Services/">Bike Services</a></li> 
								<li><a href="/Commercial_Vehicle_Services/">Commercial Vehicle Services</a></li> 
								<li><a href="/PCV-GCV-service/">PCV-GCV Service</a></li> 
								

							</ul>
						</li> 

						<li><a href="/Add_on_Services/">Add on Services</a></li>


						<li><a href="/blog/">Blog</a></li>
						
						
						<!-- <li><a href="404.html">404</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!--/header-bottom-->
</header><!--/header-->

