{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<section id="bc" class="mt-3">
<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">
      <i class="fas fa-home"></i> Home</a>
  </li>
  <li class="breadcrumb-item active"> Car Service</li>
</ol>
</nav>
</div>
</section>

<section >
    <div class="container">
      <div class="row">

          <div class="blog-post-area">
        <div class="col-md-12">
          <h2 class="title text-center">Car Service</h2>
        </div>
      </div>
    </div>
    </div>
  </section>

<section>
<div class="container">
<div class="row">
<div class="col-sm-8">
  <p><strong>&nbsp;</strong></p>
<div class="row">
<div class="col-sm-5">
<img class="img-fluid" style="float:right;" src="/static/images/product-details/cs1.png" height="100%" width="100%" >
</div>

<div class="col-sm-7">
<ol>
<li>
<p><strong>Car service</strong></p>
</li>
</ol>

<p>We all know how important it is to go to the doctor for a checkup to make sure everything is running smoothly. Well, the same goes for our cars! When a car is designed, manufacturers set out a service schedule for the car, which they believe will keep it running reliably and safely.

</p>
<p>If you are unsure about what type of service your car requires then you must visit DrivoZone. Here we keep an eye on your car so that whenever you forget your car service, we will send a reminder to you. Moreover, if you don&rsquo;t like to go out of your home. We will provide a car service on your doorstep.&nbsp;</p>
</div>
</div>

<br><br>
<div class="row">
<div class="col-sm-5">
<img style="float:left;" src="/static/images/product-details/cs2.png" height="100%" width="100%" >
</div>
<div class="col-sm-7">
<ol start="2">
<li>
<p><strong>Car spare parts</strong></p>
</li>
</ol>

<p>Every automobile has a number of complex parts that help in efficient and long term functioning of the car. ... Some of the most important automobile components include the engine, gearbox parts, drive axle, steering and suspension, brakes, etc.&nbsp</p>

<p>People can&rsquo;t find all the spare parts at one place only but DrivoZone is the place where you will find all the spare parts at one place only.</p>
</div>
</div>

<br><br>
<div class="row">

<div class="col-sm-5">
<img style="float:right;" src="/static/images/product-details/cs3.jpg" height="100%" width="100%" >
</div>
<div class="col-sm-7">
<ol start="3">
<li>
<p><strong>Tubeless tyres for cars</strong></p>
</li>
</ol>

<p>Until a few years back, vehicle manufacturers used to advertise tubeless tyres as a top feature since they were not that common. Tyres significantly impact the way a vehicle grips the surface and handles. They not only affect the fuel efficiency&nbsp; but also determine passengers and vehicle&rsquo;s safety. While buying tyres, the preliminary denomination that we come across is tubeless or tube type tyres.</p>

<p>At DrivoZone we provide all types of tyres for your car Either tubeless or Tube tyre of all the brands.&nbsp;</p>
</div>

</div>
<div class="row">
<div class="col-sm-5">
<img style="float:left;" src="/static/images/product-details/c4.jpg" style="padding-right:20px;" height="100%" width="100%" >
</div>
<div class="col-sm-7">
<ol start="4">
<li>
<p><strong>Tube and tyres for Car</strong></p>
</li>
</ol>

<p>A tube-type tyre comes with an inflatable tube placed on the inside. The air&nbsp; in this tube doubles up as a cushion and makes for a smooth and comfortable riding experience even on an undulated tarmac.The tube balances the load of the car and improves dynamic stability.</p>

<p>DrivoZone offers all types of Tubes and tyres for your cars. Even if you are busy and have no time to go to a service station, DrivoZone provide home visit service to change your car&rsquo;s tyres.</p>
</div>
</div>
<br><br>
<div class="row">


<div class="col-sm-5">

<img style="float:right;" src="/static/images/product-details/c5.jpg" style="padding-top:20px;" height="100%" width="100%" >
</div>
<div class="col-sm-7">
<ol start="5">
<li>
<p><strong>Car Insurance&nbsp;</strong></p>
</li>
</ol>

<p>Car insurance (also known as auto or motor insurance) is done to protect your vehicle from unforeseen risks. It basically provides protection against the losses incurred as a result of unavoidable instances. It helps cover against theft, financial loss caused by accidents and any subsequent liabilities. The cover level of Car insurance can be the insured party, the insured vehicle and third parties (car and people). The premium of the insurance is dependent on certain parameters like the value of the car, type of coverage, vehicle classification; voluntary excess etc. Car insurance gives the confidence to drive peacefully. In emergencies, it acts as a boon to the insurance holder.</p>

<p>With so many car insurance companies for customer base in the market, it is quite difficult to make a decision like choosing the right policy and insurer. Figuring out the right insurance policy, fulfilling the requirement and being cost-effective can be time-consuming. Many a time car insurance may seem complex but having it saves you spending a fortune later. At DrivoZone you can compare car insurance quotes online and save your money.</p>
</div>

</div>
<br><br>
<div class="row">
<div class="col-sm-5">
<img style="float:left;" src="/static/images/product-details/c.jpg" height="100%" width="100%" >
</div>
<div class="col-sm-7">
<ol start="6">
<li>
<p><strong>Car&nbsp; accessories&nbsp;</strong></p>
</li>
</ol>

<table>
<tbody>
<tr>
<td>
<p>Everyone who has a car, that will need to have some type of auto accessories to help keep it running in top performance. Then there are the auto accessories that you can use inside your vehicle to help make you more comfortable and to help take care of your vehicle.</p>

<p>&nbsp;The interior accessories are not necessary but they can help to protect certain things in your car or are just to make you more comfortable in your vehicle. These auto accessories include, dash covers, seat covers, mirrors, shifter knobs, steering wheel covers, fuel consumption meters, window tint, a stereo system, DVD players, floor mats and even air fresheners.</p>

<p>There are a lot of accessories available at DrivoZone that you can get for your vehicle without going to the market. Moreover, DrivoZone allows you to order any type of car accessory for your car and deliver it to your doorstep. Afterall we care for you!</strong></p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<br>
<div class="row">

<div class="col-sm-5">
<img style="float:right;" src="/static/images/product-details/c6.jpg" height="100%" width="100%" >
</div>
<div class="col-sm-7">
<ol start="7">
<li>
<p><strong>Car Oils</strong></p>
</li>
</ol>

<p>Just a few decades ago, synthetic oils were rare and hard to find and we were stuck with conventional oil. However, the tables have turned and now you have a wide selection of various parts and full synthetic oils to choose from. The best synthetic oils last for more miles, keep your engine cleaner, offer greater engine wear protection, perform better in high and low temperatures, and even help protect critical performance parts like turbochargers.</p>

<p>DrivoZone allows you to compare all types of Car oil and choose the best one for your car.&nbsp;</p>


</div>

</div>

</div>

        <div class="col-sm-4">
            {% include 'partials/right.html' %}

        </div>
</div>
</div>
</section>

{% include 'partials/_alerts.html' %}
      {% endblock %}