{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'blog:post-list' %}">Blog</a></li>
  <li class="active">{{ post.title }}</li>
{% endblock %}

{% block content %}
    <section id="blog-details" class="padding-top">
        <div class="container" >
            <div class="row" style="text-align:left;">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                            <div class="single-blog blog-details two-column">
                                <div class="post-thumb">
                                    <a href="#"><img src="images/blog/7.jpg" class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">{{ post.published_date|date:"F j, Y" }}</a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="#">{{ post.title }}</a></h2>
                                    <p>{{ post.body|safe }}</p>
                                           
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
              </div>
            </div>
    </section>
</div>
</div>

{% endblock %}





